<!-- Button -->
<button
    class="h-full"
    mat-button
    mat-button-base
    style="padding: 0px 10px !important"
    [matMenuTriggerFor]="userActions"
>
    <div class="flex flex-row grids items-center">
        <mat-icon
            [svgIcon]="'heroicons_solid:user-circle'"
            style="font-size: 12px !important"
        ></mat-icon>
        <span *ngIf="!isScreenSmall" class="text-black text-base truncate ml-1"
            >Xin chào {{ user_login.full_name }}</span
        >
    </div>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <!-- <button mat-menu-item (click)="profile()">
        <mat-icon
            class="text-base"
            [svgIcon]="'heroicons_solid:user-circle'"
        ></mat-icon>
        <span class="text-base">Thông tin cá nhân</span>
    </button>
    <mat-divider class="my-2"></mat-divider> -->

    <button mat-menu-item (click)="changePass()">
        <mat-icon class="text-base">donut_large</mat-icon>
        <span class="text-base">Đổi mật khẩu</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()">
        <mat-icon
            class="text-base"
            [svgIcon]="'heroicons_solid:logout'"
        ></mat-icon>
        <span class="text-base">Đăng xuất</span>
    </button>
</mat-menu>

<mat-menu class="user-status-menu" #userStatus="matMenu">
    <button mat-menu-item (click)="updateUserStatus('online')">
        <span class="w-4 h-4 mr-3 rounded-full bg-green-500"></span>
        <span>Online</span>
    </button>
    <button mat-menu-item (click)="updateUserStatus('away')">
        <span class="w-4 h-4 mr-3 rounded-full bg-amber-500"></span>
        <span>Away</span>
    </button>
    <button mat-menu-item (click)="updateUserStatus('busy')">
        <span class="w-4 h-4 mr-3 rounded-full bg-red-500"></span>
        <span>Busy</span>
    </button>
    <button mat-menu-item (click)="updateUserStatus('not-visible')">
        <span class="w-4 h-4 mr-3 rounded-full bg-gray-400"></span>
        <span>Invisible</span>
    </button>
</mat-menu>
