<mat-progress-bar
    *ngIf="pageLoading"
    class="absolute top-0"
    mode="indeterminate"
></mat-progress-bar>
<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto">
    <!-- MAIN -->
    <div class="flex-auto p-3 sm:pt-3 sm:p-10">
        <!-- CONTENT -->
        <div class="rounded-2xl">
            <h1
                mat-dialog-title
                class="dark:text-white"
                transloco="NAV.erp_don_hang_ban"
            ></h1>
            <mat-card class="rounded-2xl py-6 px-6 shadow">
                <div
                    class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap"
                >
                    <div class="flex-1">
                        <mat-form-field class="w-full" floatLabel="always">
                            <mat-label
                                >{{ "common.search" | transloco }} ({{
                                    "system.code" | transloco
                                }}
                                | {{ "system.name" | transloco }})
                            </mat-label>
                            <input
                                floatLabel="always"
                                matInput
                                [(ngModel)]="filter.search"
                                (keyup.enter)="rerender()"
                                placeholder="{{
                                    'common.go_tu_khoa_tim_kiem' | transloco
                                }}"
                            />
                            <button
                                mat-icon-button
                                color="primary"
                                class="mr-4"
                                (click)="rerender()"
                            >
                                Tìm kiếm
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="flex-1">
                        <cm_select
                            [label]="'common.use_status'"
                            [listData]="list_status_del"
                            [callbackChange]="rerender.bind(this)"
                            [(model)]="filter.status_del"
                        ></cm_select>
                    </div>
                </div>
                <div align="right" class="space-x-2">
                    <button
                        (click)="exportToExcel()"
                        class="rounded py-2 px-4 font-bold bg-yellow-500 hover:bg-yellow-600 item2s-center"
                    >
                        <p
                            transloco="system.xuat_excel"
                            class="mb-0 text-white"
                        >
                            Xuất excel
                        </p>
                    </button>
                    <button
                        class="rounded py-2 px-4 font-bold bg-green-700 hover:bg-green-700 items-center"
                        (click)="openDialogAdd()"
                    >
                        <p transloco="common.add" class="mb-0 text-white"></p>
                    </button>
                </div>
            </mat-card>
            <br />
            <table
                datatable
                [dtOptions]="dtOptions"
                style="width: 100% !important"
                class="w-full cell-border myTable hover"
            >
                <thead>
                    <tr>
                        <th style="min-width: 50px"></th>
                        <th style="min-width: 50px" transloco="system.stt"></th>
                        <th transloco="system.loai_don_hang"></th>
                        <th transloco="system.don_hang"></th>
                        <th transloco="system.kho"></th>
                        <th transloco="system.thong_tin_khach_hang_nhan"></th>
                        <th transloco="system.thong_tin_khach_hang_dat"></th>
                        <th transloco="system.phuong_thuc_thanh_toan"></th>
                        <th transloco="system.tong_tien_sau_thue"></th>
                        <th transloco="system.ngay_dat_hang"></th>
                        <th transloco="system.note"></th>
                        <th transloco="system.update_by"></th>
                    </tr>
                </thead>
                <tbody *ngIf="listData?.length != 0">
                    <tr *ngFor="let item of listData; index as i">
                        <td>
                            <button
                                mat-icon-button
                                [matMenuTriggerFor]="appMenu"
                            >
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #appMenu="matMenu">
                                <button
                                    mat-menu-item
                                    (click)="openDialogEdit(item, i)"
                                    transloco="common.edit"
                                ></button>
                                <button
                                    mat-menu-item
                                    (click)="openDialogDetail(item, i)"
                                    transloco="common.detail"
                                ></button>
                                <button
                                    *ngIf="item.db.status_del == 2"
                                    mat-menu-item
                                    (click)="revertStatus(item, 1)"
                                    transloco="common.revert_use"
                                ></button>
                                <button
                                    *ngIf="item.db.status_del == 1"
                                    mat-menu-item
                                    (click)="revertStatus(item, 2)"
                                    transloco="common.no_user"
                                ></button>
                            </mat-menu>
                        </td>
                        <td style="text-align: center">{{ i + 1 }}</td>
                        <td>
                            <container-element
                                [ngSwitch]="item.db.loai_don_hang"
                            >
                                <some-element *ngSwitchCase="1">
                                    <span>Hàng hóa</span>
                                </some-element>
                                <some-element *ngSwitchCase="2">
                                    <span>Dịch vụ</span>
                                </some-element>
                                <some-element *ngSwitchDefault
                                    >No data</some-element
                                >
                            </container-element>
                        </td>
                        <td>
                            <a
                                (click)="openDialogDetail(item, i)"
                                class="underline font-bold"
                                style="color: #ef5425"
                                >{{ item.db.code }}</a
                            >
                            <br />
                            {{ item.db.name }}
                        </td>
                        <td>Kho xuất hàng</td>
                        <td>
                            <span>{{ item.db.full_name_khach_hang_nhan }}</span>
                            <br />
                            <span
                                >{{ item.db.phone_khach_hang_nhan }} -{{
                                    item.db.email_khach_hang_nhan
                                }}</span
                            >
                            <br />
                            <span
                                >{{ item.tinh_thanh_khach_hang_nhan }}-{{
                                    item.quan_huyen_khach_hang_nhan
                                }}</span
                            >
                            <br />
                            <span>{{
                                item.db.dia_chi_cu_the_khach_hang_nhan
                            }}</span>
                        </td>
                        <td>
                            <span>{{ item.db.full_name_khach_hang_dat }}</span>
                            <br />
                            <span
                                >{{ item.db.phone_khach_hang_dat }}-{{
                                    item.db.email_khach_hang_dat
                                }}</span
                            >
                            <br />
                            <span
                                >{{ item.tinh_thanh_khach_hang_dat }}-{{
                                    item.quan_huyen_khach_hang_dat
                                }}</span
                            >
                            <br />
                            <span>{{
                                item.db.dia_chi_cu_the_khach_hang_dat
                            }}</span>
                        </td>
                        <td>
                            <container-element
                                [ngSwitch]="item.db.phuong_thuc_thanh_toan"
                            >
                                <some-element *ngSwitchCase="1">
                                    <span>Tiền mặt</span>
                                </some-element>
                                <some-element *ngSwitchCase="2">
                                    <span>Chuyển khoản</span>
                                    <span
                                        >Loại chuyển khoản
                                        <container-element
                                            [ngSwitch]="
                                                item.db.loai_chuyen_khoan
                                            "
                                        >
                                            <some-element *ngSwitchCase="1">
                                                <span>Momo</span>
                                            </some-element>
                                            <some-element *ngSwitchCase="2">
                                                <span>VNPay</span>
                                            </some-element>
                                            <some-element *ngSwitchCase="3">
                                                <span>Tài khoản ngân hàng</span>
                                                <br />
                                                <span
                                                    >{{ item.ten_ngan_hang }}-{{
                                                        item.so_tai_khoan
                                                    }}</span
                                                >
                                            </some-element>
                                            <some-element *ngSwitchDefault
                                                >No data</some-element
                                            >
                                        </container-element>
                                    </span>
                                </some-element>
                                <some-element *ngSwitchDefault
                                    >No data</some-element
                                >
                            </container-element>
                        </td>
                        <td>{{ item.db.thanh_tien_sau_thue | number }}</td>
                        <td>
                            {{ item.db.ngay_dat_hang | date : "dd/MM/yyyy" }}
                        </td>
                        <td>{{ item.db.note }}</td>
                        <td>
                            {{ item.update_name }} <br />{{
                                item.db.update_date | date : "dd/MM/yyyy"
                            }}
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="listData?.length == 0">
                    <tr class="h-40">
                        <td colspan="100" class="no-data-available">
                            <nz-empty
                                nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                [nzNotFoundContent]="contentNoData"
                            >
                                <ng-template #contentNoData>
                                    <span transloco="common.no_data"></span>
                                </ng-template>
                            </nz-empty>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
