<mat-progress-bar
    *ngIf="pageLoading"
    class="top-0"
    mode="indeterminate"
></mat-progress-bar>
<div
    class="flex flex-col flex-auto w-full mx-auto h-fit overflow-y-visible mobile:mb-20"
>
    <!-- Header -->
    <div
        class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
    >
        <div class="text-lg font-medium" transloco="NAV.erp_don_hang_ban"></div>
    </div>
    <!-- Card Form -->
    <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto">
        <div class="flex flex-row justify-end space-x-2">
            <button
                class="rounded py-2 px-4 font-bold bg-gray-500 hover:bg-gray-600 items-center"
                (click)="chooseItem()"
            >
                <p transloco="common.choose" class="mb-0 text-white"></p>
            </button>
            <button
                class="py-2 px-4 font-bold rounded bg-teal-500 hover:bg-teal-600 items-center"
                (click)="close()"
            >
                <p transloco="common.close" class="mb-0 text-white"></p>
            </button>
        </div>
        <div class="mb-2">
            <mat-card class="rounded-2xl py-6 px-6 shadow">
                <div
                    class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap"
                >
                    <div class="flex-1">
                        <cm_select
                            [label]="'system.size'"
                            [listData]="list_size"
                            [callbackChange]="rerender.bind(this)"
                            [(model)]="filter.id_size"
                        ></cm_select>
                    </div>
                    <div class="flex-1">
                        <cm_select
                            [label]="'system.code_color'"
                            [listData]="list_color"
                            [callbackChange]="rerender.bind(this)"
                            [(model)]="filter.id_color"
                        ></cm_select>
                    </div>
                </div>
                <div
                    class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap"
                >
                    <div class="flex-1">
                        <mat-form-field class="w-full" floatLabel="always">
                            <mat-label>{{
                                "common.search" | transloco
                            }}</mat-label>
                            <input
                                floatLabel="always"
                                matInput
                                [(ngModel)]="filter.search"
                                (keyup.enter)="rerender()"
                                placeholder="{{
                                    'common.go_tu_khoa_tim_kiem' | transloco
                                }}"
                            />
                            <button
                                mat-icon-button
                                color="primary"
                                class="mr-4"
                                (click)="rerender()"
                            >
                                Tìm kiếm
                            </button>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
            <br />
            <table
                datatable
                [dtOptions]="dtOptions"
                style="width: 100% !important"
                class="w-full cell-border myTable hover"
            >
                <thead>
                    <tr>
                        <th transloco="system.san_pham"></th>
                        <th transloco="system.nhan_hieu"></th>
                        <th transloco="system.loai_san_pham"></th>
                        <th transloco="system.don_vi_tinh"></th>
                    </tr>
                </thead>
                <tbody *ngIf="listData?.length != 0">
                    <ng-container *ngFor="let item of listData; index as i">
                        <tr>
                            <td colspan="4">
                                <a
                                    (click)="openDialogDetail(item, i)"
                                    class="underline font-bold"
                                    style="color: #ef5425"
                                    >{{ item.db.ma_san_pham }}</a
                                >
                                <br />
                                {{ item.db.ten_san_pham }}
                                <br />{{ item.ten_nhan_hieu }} <br />{{
                                    item.ten_loai_san_pham
                                }}
                            </td>
                        </tr>
                        <ng-container
                            *ngFor="let item2 of item.list_detail; index as j"
                        >
                            <tr>
                                <td align="center" class="items-center">
                                    <mat-checkbox
                                        class="ml-5"
                                        [(ngModel)]="item2.is_choose"
                                    >
                                        <!--(ngModelChange)="chooseItem(item2)" -->
                                    </mat-checkbox>
                                </td>
                                <td class="items-center">
                                    <span [style.color]="item2.color_code">{{
                                        item2.color
                                    }}</span>
                                </td>
                                <td>
                                    <cm_select
                                        [listData]="item2.list_size"
                                        [(model)]="item2.id_size"
                                    ></cm_select>
                                </td>
                                <td class="items-center">
                                    {{ item2.db.gia_ban | number }}/{{
                                        item.ten_don_vi_tinh
                                    }}
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
                <tbody *ngIf="listData?.length == 0">
                    <tr class="h-40">
                        <td colspan="100" class="no-data-available">
                            <nz-empty
                                nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                [nzNotFoundContent]="contentNoData"
                            >
                                <ng-template #contentNoData>
                                    <span transloco="common.no_data"></span>
                                </ng-template>
                            </nz-empty>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex flex-row justify-end space-x-2">
            <button
                class="rounded py-2 px-4 font-bold bg-gray-500 hover:bg-gray-600 items-center"
                (click)="save()"
            >
                <p transloco="common.choose" class="mb-0 text-white"></p>
            </button>
            <button
                class="py-2 px-4 font-bold rounded bg-teal-500 hover:bg-teal-600 items-center"
                (click)="close()"
            >
                <p transloco="common.close" class="mb-0 text-white"></p>
            </button>
        </div>
    </div>
</div>
