<div class="m_product">
    <div class="row m-0">
        <div class="col-lg-6 col-12 order-lg-1 min-800">
            <div class="bg_pr position-absolute w-100 h-100 d-none d-lg-block">
                <div
                    class="fix-image-left position-fixed h-100"
                    style="
                        background-image: url('../assets/images/portal/bg_product_2.jpg');
                    "
                ></div>
                <div
                    class="m_infor text-center position-absolute p-5 opacity-60"
                    style="background-color: #000000"
                >
                    <div class="m_list">
                        <div class="text-md text-white">
                            <p
                                class="mb-2 font-bold uppercase text-3xl leading-6"
                            >
                                Bộ sưu tập 2022
                            </p>
                            <h3
                                class="font-bold uppercase text-8xl left-16 mb-1 text-white"
                            >
                                Giày nam
                            </h3>
                            <div class="mb-3 text-white">
                                đẳng cấp, sành điệu, năng động nhất
                            </div>
                            <span class="see-more">
                                <a
                                    href=""
                                    class="hover:bg-white hover:text-black p-1 pl-3 pr-3 border border-solid rounded text-white"
                                    style="border-color: #dee2e6 !important"
                                    >Xem thêm</a
                                >
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg_pr position-absolute w-100 h-100 d-lg-none">
                <div class="position-relative w-100 m-0">
                    <img
                        src="../assets/images/portal/bg_product_2.jpg"
                        data-src="'../assets/images/portal/bg_product_2.jpg'"
                        class="d-block img img-cover position-absolute lazy loaded"
                        alt="Giày nam"
                    />
                </div>
                <div class="m_infor text-center position-absolute p-3">
                    <div class="m_list">
                        <div class="m_bn">
                            <p
                                class="subtitle mb-2 font-weight-bold text-uppercase"
                            >
                                Bộ sưu tập 2022
                            </p>
                            <h3
                                class="title_banner m font-weight-bold text-uppercase"
                            >
                                Giày nam
                            </h3>
                            <div class="description mb-3">
                                đẳng cấp, sành điệu, năng động nhất
                            </div>
                            <span class="see-more text-md">
                                <a
                                    href="/giay-nam"
                                    class="p-1 pl-3 pr-3 border color-w rounded"
                                    >Xem thêm</a
                                >
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="col-lg-6 col-12 order-lg-2 position-relative modal-open min-800"
        >
            <div class="align-content position-absolute m_pr">
                <h2 class="title mb-4 uppercase font-weight-bold text-center">
                    <a
                        class="position-relative d-inline-block text-primary text-3xl"
                        href="giay-nam"
                        title="Giày nam"
                        >Giày nam</a
                    >
                </h2>
                <app-slider-grid-data></app-slider-grid-data>
                <span class="seemore d-block text-center border-top pt-2 mt-2">
                    <a href="giay-nam" class="font-weight-bold"> Xem thêm </a>
                </span>
            </div>
        </div>
    </div>
</div>
