<div class="m_product">
    <div class="row m-0">
        <div
            class="col-lg-6 col-12 order-lg-1 relative min-800 mt-lg-0 mt-md-5 mt-0"
        >
            <div class="align-content absolute m_pr">
                <h2 class="title mb-4 uppercase font-bold text-center">
                    <a
                        class="position-relative d-inline-block text-primary text-3xl"
                        href="sale"
                        title="FLASH SALE"
                        >FLASH SALE</a
                    >
                </h2>
                <p class="text-center">
                    Hàng loạt bản mẫu. Hàng loạt cải tiến. Hàng loạt thử nghiệm.
                </p>
                <app-slider-grid-data></app-slider-grid-data>
                <span class="seemore d-block text-center border-top pt-2 mt-2">
                    <a href="sale" class="font-weight-bold"> Xem thêm </a>
                </span>
            </div>
        </div>

        <div class="col-lg-6 col-12 order-lg-2 min-800">
            <div class="bg_pr position-absolute w-100 h-100 d-none d-lg-block">
                <div
                    class="fix-image position-fixed h-100"
                    style="
                        background-image: url('../assets/images/portal/bg_product_1.jpg');
                    "
                ></div>
                <div
                    class="m_infor text-center position-absolute p-5 opacity-60"
                    style="background-color: #000000"
                >
                    <div class="m_list">
                        <div class="text-md text-white">
                            <p
                                class="mb-2 font-bold uppercase text-3xl leading-6"
                            >
                                SỰ KIỆN TRONG TUẦN
                            </p>
                            <h3
                                class="font-bold uppercase text-8xl left-16 mb-1 text-white"
                            >
                                FLASH SALE
                            </h3>
                            <div class="mb-3 text-white">
                                Chỉ Áp dụng khi Đặt hàng qua Website
                            </div>
                            <span class="see-more">
                                <a
                                    href=""
                                    class="hover:bg-white hover:text-black p-1 pl-3 pr-3 border border-solid rounded text-white"
                                    style="border-color: #dee2e6 !important"
                                    >Xem thêm</a
                                >
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg_pr position-absolute w-100 h-100 d-lg-none">
                <div
                    class="position-relative w-100 m-0 d-none d-md-block d-lg-none"
                >
                    <img
                        src="./assets/bg_product_1.jpg"
                        data-src="'./assets/bg_product_1.jpg'"
                        class="lazy d-block img img-cover position-absolute loaded"
                        alt="FLASH SALE"
                    />
                </div>
                <div class="m_infor no_bg text-center position-absolute p-3">
                    <div class="m_list">
                        <div class="m_bn">
                            <p
                                class="subtitle mb-2 font-weight-bold text-uppercase"
                            >
                                SỰ KIỆN TRONG TUẦN
                            </p>
                            <h3
                                class="title_banner mb-3 font-weight-bold text-uppercase"
                            >
                                FLASH SALE
                            </h3>
                            <div class="description mb-3">
                                Chỉ Áp dụng khi Đặt hàng qua Website
                            </div>
                            <span class="see-more text-md">
                                <a
                                    href=""
                                    class="p-1 pl-3 pr-3 border color-w d-inline-block rounded"
                                    >Xem thêm</a
                                >
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
