<div
    class="flex flex-col flex-auto w-full max-w-4xl mx-auto h-fit overflow-y-visible mobile:mb-20"
>
    <!-- Header -->
    <div
        class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary"
    >
        <div class="text-lg font-medium" transloco="NAV.sys_san_pham"></div>
    </div>
    <!-- Card Form -->
    <div class="w-full p-6 sm:p-8 space-y-1 overflow-y-auto">
        <div class="flex flex-row justify-end space-x-2">
            <button
                class="rounded py-2 px-4 font-bold bg-gray-500 hover:bg-gray-600 items-center"
                (click)="save()"
            >
                <p transloco="common.save" class="mb-0 text-white"></p>
            </button>
            <button
                class="py-2 px-4 font-bold rounded bg-teal-500 hover:bg-teal-600 items-center"
                (click)="close()"
            >
                <p transloco="common.close" class="mb-0 text-white"></p>
            </button>
        </div>

        <div class="mb-2">
            <div
                class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap"
            >
                <div class="flex-1">
                    <cm_input
                        [(model)]="record.db.ma_san_pham"
                        [label]="'system.ma_san_pham'"
                        [keyError]="'db.ma_san_pham'"
                        [actionEnum]="3"
                        [errorModel]="errorModel"
                    ></cm_input>
                </div>
                <div class="flex-1">
                    <cm_input
                        [(model)]="record.db.ten_san_pham"
                        [label]="'system.ten_san_pham'"
                        [keyError]="'db.ten_san_pham'"
                        [actionEnum]="actionEnum"
                        [errorModel]="errorModel"
                    ></cm_input>
                </div>
            </div>
            <div
                class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap"
            >
                <div class="flex-1">
                    <cm_select
                        *ngIf="actionEnum != 3"
                        [keyError]="'db.id_nhan_hieu'"
                        [actionEnum]="actionEnum"
                        [errorModel]="errorModel"
                        [label]="'system.nhan_hieu'"
                        [listData]="list_nhan_hieu"
                        [(model)]="record.db.id_nhan_hieu"
                    ></cm_select>
                    <cm_input
                        *ngIf="actionEnum == 3"
                        [(model)]="record.ten_nhan_hieu"
                        [actionEnum]="actionEnum"
                        [label]="'system.nhan_hieu'"
                        [errorModel]="errorModel"
                    ></cm_input>
                </div>
                <div class="flex-1">
                    <cm_select
                        *ngIf="actionEnum != 3"
                        [keyError]="'db.id_loai_san_pham'"
                        [actionEnum]="actionEnum"
                        [errorModel]="errorModel"
                        [label]="'system.loai_san_pham'"
                        [listData]="list_loai_san_pham"
                        [(model)]="record.db.id_loai_san_pham"
                    ></cm_select>
                    <cm_input
                        *ngIf="actionEnum == 3"
                        [(model)]="record.ten_loai_san_pham"
                        [actionEnum]="actionEnum"
                        [label]="'system.loai_san_pham'"
                        [errorModel]="errorModel"
                    ></cm_input>
                </div>
            </div>
            <div
                class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap"
            >
                <div class="flex-1">
                    <cm_select
                        *ngIf="actionEnum != 3"
                        [keyError]="'db.id_don_vi_tinh'"
                        [actionEnum]="actionEnum"
                        [errorModel]="errorModel"
                        [label]="'system.don_vi_tinh'"
                        [listData]="list_don_vi_tinh"
                        [(model)]="record.db.id_don_vi_tinh"
                    ></cm_select>
                    <cm_input
                        *ngIf="actionEnum == 3"
                        [(model)]="record.ten_don_vi_tinh"
                        [actionEnum]="actionEnum"
                        [label]="'system.don_vi_tinh'"
                        [errorModel]="errorModel"
                    ></cm_input>
                </div>
                <div class="flex-1">
                    <cm_input
                        [(model)]="record.db.note"
                        [label]="'system.note'"
                        [keyError]="'db.note'"
                        [actionEnum]="actionEnum"
                        [errorModel]="errorModel"
                    ></cm_input>
                </div>
            </div>
            <!-- hình ảnh -->
            <div
                *ngIf="actionEnum != 3"
                class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap"
            >
                <div class="flex-1">
                    <label
                        transloco="system.hinh_anh"
                        style="
                            padding: 25px;
                            color: blue;
                            font-size: 20px;
                            font-weight: bold;
                        "
                    ></label>
                    <br />
                    <!-- (Tỷ lệ hình ảnh 16x9) -->
                    <div>
                        <span
                            style="color: red"
                            *ngFor="
                                let item of errorModel
                                    | filter : 'key' : 'db.hinh_anh';
                                index as i
                            "
                        >
                            (<span *ngFor="let msg of item.value">
                                {{ msg | transloco }} </span
                            >)
                        </span>
                    </div>

                    <div
                        class="uploadfilecontainer"
                        (click)="fileInput.click()"
                        appDragDrop
                        (onFileDropped)="DragAndDropProgress($event)"
                        align="center"
                    >
                        <h3
                            *ngIf="record.db.hinh_anh == null"
                            style="margin: auto"
                            transloco="common.chose_file"
                        ></h3>
                        <img
                            style="height: auto !important; max-height: 100px"
                            accept="image/*"
                            *ngIf="record.db.hinh_anh != null"
                            [src]="record.db.hinh_anh"
                            [alt]="record.db.ten_san_pham"
                        />
                        <input
                            hidden
                            type="file"
                            #fileInput
                            (change)="ChoseFileImage($event)"
                            accept="*"
                            multiple
                        />
                    </div>
                    <br />
                    <div
                        style="position: relative; padding: 20px"
                        *ngIf="fileUploadProgress != -1"
                    >
                        <mat-progress-bar
                            mode="determinate"
                            [value]="fileUploadProgress"
                            style="height: 2em"
                            color="'Warn'"
                        ></mat-progress-bar>
                        <span
                            style="position: absolute; top: 0.5em"
                            [ngStyle]="{ left: fileUploadProgress + '%' }"
                        >
                            {{ fileUploadProgress }}
                        </span>
                    </div>
                </div>
            </div>
            <div
                *ngIf="actionEnum == 3"
                class="flex flex-col md:flex-row lg:flex-row md:space-x-4 flex-wrap"
            >
                <div class="flex-1">
                    <label
                        transloco="system.hinh_anh"
                        style="
                            padding: 25px;
                            color: blue;
                            font-size: 20px;
                            font-weight: bold;
                        "
                    ></label>
                    <br />
                    (Tỷ lệ hình ảnh 16x9)
                    <div class="uploadfilecontainer" align="center">
                        <img
                            class="w-full"
                            style="max-height: 100%"
                            *ngIf="record.db.hinh_anh != null"
                            [src]="record.db.hinh_anh"
                            [alt]="record.db.ten_san_pham"
                        />
                    </div>
                </div>
            </div>
            <br />
        </div>
        <div class="flex flex-row justify-end space-x-2">
            <button
                class="rounded py-2 px-4 font-bold bg-gray-500 hover:bg-gray-600 items-center"
                (click)="save()"
            >
                <p transloco="common.save" class="mb-0 text-white"></p>
            </button>
            <button
                class="py-2 px-4 font-bold rounded bg-teal-500 hover:bg-teal-600 items-center"
                (click)="close()"
            >
                <p transloco="common.close" class="mb-0 text-white"></p>
            </button>
        </div>
    </div>
</div>
